/* �⺻ �ؽ�Ʈ ��Ÿ��
.formmail_txt {font-size:12px;font-family:����,����;color:#333333}

�ؽ�Ʈ�ڽ� ��Ÿ��
.formmail_border {font-size:12px;font-family:����,����;color:#333333;border:1 solid #D4D4D4}

�׸�ĭ ��Ÿ��
.formmail_title_bgcolor {background-color:#F7F7F7;font-family:����,����}

�Է�ĭ ��Ÿ��
.formmail_cell_bgcolor {background-color:#FFFFFF;font-size:12;font-family:����,����;color:#333333;padding-left:10;}

�ؽ�Ʈ����� ��Ÿ�� 
.formmail_textarea_style {font-size:12px;font-family:����,����;color:#333333;border:1 solid #D4D4D4}
*/