@charset 'utf-8';

/*****************************************************************
   deletion of the current branch prohibited
   powered by nnin ( http://www.nnin.com )
*****************************************************************/






/*****************************************************************
******************************************************************
******************************************************************
        메인페이지 : 각 모듈의 타이틀 공통 설정
******************************************************************
******************************************************************
*****************************************************************/

.nm_tit {
    position: relative;
    z-index: 10;
    text-align: center;
    margin: 0 15px 10px;
}
.nm_tit > h3 {
    letter-spacing: 0px;
    font-size: 2.0em;
    font-weight: 400;
    color: #333;
}
.nm_tit > span {
    display: inline-block;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-weight: 300;
    font-size: 1.0em;
    color: #666;
}

@media screen and (max-width: 768px) {
    .nm_tit > h3 {
        font-size: 1.5em;
    }
    .nm_tit > span {
        padding: 10px;
        font-size: 1.0em;
    }
}


















/*****************************************************************
******************************************************************
******************************************************************
        메인페이지 : 각 모듈의 타이틀 개별 설정
******************************************************************
******************************************************************
*****************************************************************/


/*****************************************************************
ms04 : 추출게시물
*****************************************************************/
.ms04 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms05 : 추출게시물, 고객센터
*****************************************************************/
.ms05 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms06 : 추출갤러리
*****************************************************************/
.ms06 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms07 : 1단이미지
*****************************************************************/
.ms07 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms10 : 예약문의(메인폼메일)
*****************************************************************/
.ms10 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    font-weight: 900;
    color: #fff;
}
.ms10 > .nm_tit > span {
    color: #ddd;
}

























/*****************************************************************
******************************************************************
******************************************************************
        메인페이지 : 각 모듈의 여백 및 배경이미지 개별설정
******************************************************************
******************************************************************
*****************************************************************/


/*****************************************************************
ms01 : 슬라이드
*****************************************************************/
.ms01 {
    background-color: #fff;
}



/*****************************************************************
ms04 : 추출게시물
*****************************************************************/
.ms04 {
    padding: 50px 0;
}



/*****************************************************************
ms05 : 추출게시물, 고객센터
*****************************************************************/
.ms05 {
    padding: 50px 0;
}



/*****************************************************************
ms06 : 추출갤러리
*****************************************************************/
.ms06 {
    padding: 0px 0 30px;
}



/*****************************************************************
ms07 : 1단이미지
*****************************************************************/
.ms07 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-image: url('de01_img04_8a02fb56.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms07:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms07 > .container,
.ms07 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms08 : 3단형
*****************************************************************/
.ms08 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-image: url('de02_img02_2c96e586.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms08:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(215, 217, 210, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms08 > .container,
.ms08 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms09 : 제휴사
*****************************************************************/
.ms09 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
/*    background-image: url('de02_img02_2c96e586.jpg');*/
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms09:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
/*    background: rgba(215, 217, 210, 0.0);*/
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms09 > .container,
.ms09 > .container-fulid {
    position: relative;
    z-index: 3;
}




/*****************************************************************
ms10 : 예약문의(메인폼메일)
*****************************************************************/
.ms10 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
    background-image: url('de01_img03_4233b5c8.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms10:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(70, 78, 6, 0.56);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms10 > .container {
    position: relative;
    z-index: 3;
}




/*****************************************************************
ms11 : RECRUIT : 채용안내
*****************************************************************/
.ms11 {
    margin: 0px 0;
    padding: 50px 0;
}




/*****************************************************************
ms12 : 3단아이콘
*****************************************************************/
.ms12 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
    background-image: url('de02_img01_f33b8805.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms12:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms12 > .container,
.ms12 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms13 : 좌우6단
*****************************************************************/
.ms13 {
    margin: 0px 0;
    padding: 50px 0;
    background-color: #f4f4f4;
}



/*****************************************************************
ms14 : 아코디언(고객센터)
*****************************************************************/
.ms14 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms15 : 불규칙블록
*****************************************************************/
.ms15 {
    position: relative;
    margin: 50px 0;
    padding: 0px 0;
    background-color: #fff;
/*    background-image: url('de02_img03_65353242.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms15:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(113, 141, 136, 0.0);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms15 > .container,
.ms15 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms16 : 롤오버6단
*****************************************************************/
.ms16 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
/*    background-image: url('de02_img03_65353242.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms16:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(113, 141, 136, 0.0);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms16 > .container,
.ms16 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms17 : 롤오버4단
*****************************************************************/
.ms17 {
    position: relative;
    margin: 30px 0 30px;
    padding: 0px 0 0px;
    background-color: #fff;
/*    background-image: url('de02_img05_f3b24e49.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms17:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms17 > .container {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms18 : 4단블럭
*****************************************************************/
.ms18 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms19 : 1단형텍스트
*****************************************************************/ 
.ms19 {
    position: relative;
    margin: 0px 0;
    padding: 0px 0;
    background-color: #fff;
    background-image: url('de01_img03_4233b5c8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms19:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms19 > .container {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms20 : 인사말
*****************************************************************/
.ms20 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms21 : 회사소개
*****************************************************************/
.ms21 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms22 : 회사연역
*****************************************************************/
.ms22 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms23 : 동영상
*****************************************************************/ 
.ms23 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
/*    background-image: url('de01_img03_4233b5c8.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms23:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(88, 88, 88, 0);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms23 > .container {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms24 : CLICK HERE : 모달팝업
*****************************************************************/
.ms24 {
    margin: 0px 0;
    padding: 50px 0;
}




/*****************************************************************
ms25 : 사이트맵
*****************************************************************/
.ms25 {
    margin: 0px 0;
    padding: 100px 0 0;
}



/*****************************************************************
ms26 : 사업분야1
*****************************************************************/
.ms26 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms27 : 사업분야2
*****************************************************************/
.ms27 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms28 : 시설안내 : 탭기능
*****************************************************************/
.ms28 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms29 : 조직도
*****************************************************************/
.ms29 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms30 : 구글지도
*****************************************************************/
.ms30 {
    margin: 0px 0;
    padding: 0px 0 0;
}














